<div class="col-md-9">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<a style="color:red; margin-top: 15px;margin-bottom: 15px;" rel="nofollow" data-method="get" href="/users/password/new">Forget Password </a>
<br>
<br>
  <div class="actions">
    <%= f.submit "Log in" ,class: "btn btn-primary col-md-12" %>
  </div>
<% end %>
<br>
<br>

<!-- #link to facebook -> shrouk -->
<a class="btn btn-info" style="color:red; margin-left: 150px; margin-top: 15px;" rel="nofollow" data-method="get" href="/users/auth/facebook">Sign In With Facebook </a>
<br>
<!-- #link to google -> shrouk -->
<a class="btn btn-info" style="color:red;float: right; margin-top: -35px; margin-right: 200px;" rel="nofollow" data-method="get" href="/users/auth/google_oauth2">Sign In With Google </a>

</div>