<h1 style="margin-left: 20px;">Add Order</h1>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="width: 500px;height: 400px;margin-left: 20px;">
        </div>
        <div class="field">
        <%= f.label :Order, {class: "control-label"}%>
        <%= f.text_field :order_type, class: "form-control" %>
        </div>
        <br>
	  <div class="field">
	  	<h3>Write the resturant name: </h3>
	    <%= f.label :Resturant, {class: "control-label"}%>
	    <%= f.text_field :restaurant , class: "form-control"%> <br/>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
</div>

<% end %>
