<h1 style="margin-left: 5px;">Invite Friend</h1>
<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="width: 400px;height: 400px;margin-top: 20px;margin-left: 20px;">
    <div class="field">
      <%= f.label :Order%>
      <%= f.text_field :order_id %>
    </div>
    <div class="field">
      <h3>Write your friend email </h3>
      <%= f.label :email %><br>
    <%= f.email_field :email %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
</div>
<% end %>

<div style="border: 2px solid pink;width: 400px;height: 400px;float: right;margin-top: -400px;margin-right: 300px;">
    <h3 style="margin-left: 150px;">Invited Friends</h3>


  <% @invitations.each do |invitation| %>
  <%@id=invitation.friend_id  %>
  <%@friend =  User.find(@id) %>
  <div>
  <i style="color:black;margin-left: 20px;">
    <%= h @friend.name %><br/>

    <span class="btn btn-danger" style="margin-left: 20px;">
    <%= link_to "remove", invitation, :method => :delete %>
    </span>
    <br>
    </i>
    </div>
 
  
  <% end %>
  

</div>


